@font-face {
    font-family: 'AvalonBold';
    src: url('/static/fonts/avalon-bold-webfont.eot');
    src: url('/static/fonts/avalon-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/avalon-bold-webfont.woff') format('woff'),
         url('/static/fonts/avalon-bold-webfont.ttf') format('truetype'),
         url('/static/fonts/avalon-bold-webfont.svg#avalon_mediumbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AvalonRegular';
    src: url('/static/fonts/avalon-book-webfont.eot');
    src: url('/static/fonts/avalon-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/avalon-book-webfont.woff') format('woff'),
         url('/static/fonts/avalon-book-webfont.ttf') format('truetype'),
         url('/static/fonts/avalon-book-webfont.svg#avalonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
    font-family: AvalonRegular;
    color: black;
}
strong {
  font-family: AvalonBold;
}
div {
}
.main {
    background-color: lightGrey;
  background-image: linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);
background-image: -o-linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);
background-image: -moz-linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);
background-image: -webkit-linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);
background-image: -ms-linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);

background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(1, rgb(229,229,229)),
	color-stop(0, rgb(255,255,255))
);
}
.header {

}
#home-container {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    padding: 0;
    background-image: linear-gradient(top, rgb(72,143,197) 100%, rgb(91,180,236) 42%);
    background-image: -o-linear-gradient(top, rgb(72,143,197) 100%, rgb(91,180,236) 42%);
    background-image: -moz-linear-gradient(top, rgb(72,143,197) 100%, rgb(91,180,236) 42%);
    background-image: -webkit-linear-gradient(top, rgb(72,143,197) 100%, rgb(91,180,236) 42%);
    background-image: -ms-linear-gradient(top, rgb(72,143,197) 100%, rgb(91,180,236) 42%);

    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(1, rgb(72,143,197)),
	color-stop(0.42, rgb(91,180,236))
);
    background-color: rgb(72,143,197);
}
th, td {
  width: 25%;
}
table, .test {
  border: 1px solid #E5E5E5;
  box-shadow: 6px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-bottom: 10px;
}
.test table, .test h3 {
  margin: 10px;
  width: 95%;
}
thead {
    background-color: lightGrey;
  background-image: linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);
background-image: -o-linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);
background-image: -moz-linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);
background-image: -webkit-linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);
background-image: -ms-linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);

background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(1, rgb(229,229,229)),
	color-stop(0, rgb(255,255,255))
);
}

h2 {
    margin: 5px 0 5px 10px;
    font-size: 24px;
}
h1 {
    font-family: AvalonBold;
    font-size: 28px;
}
.name {
  margin-top: 12px;
}
.demo-item {
  font-size: 14px;
}
.sidebar label {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  height: 25px;
margin-bottom: 2px;
border: 1px solid #E5E5E5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background-color: #FFFFFF;
}
.page-container label {
  line-height: 28px;
}
.sidebar-title {
  margin-left: -20px;
  margin-right: -20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-shadow: 0 1px #ECF0F3;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 100%;
  padding: 2px 10px 1px 10px;
  height: 16px;
  background-color: lightGrey;
  background-image: linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);
background-image: -o-linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);
background-image: -moz-linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);
background-image: -webkit-linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);
background-image: -ms-linear-gradient(top, rgb(229,229,229) 100%, rgb(255,255,255) 0%);

background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(1, rgb(229,229,229)),
	color-stop(0, rgb(255,255,255))
);
}
.sidebar {
  position: fixed;
}
#sidebar-container {
  max-width: 317px;
}
.page-container {
    background-image: linear-gradient(top, rgb(72,143,197) 100%, rgb(91,180,236) 42%);
background-image: -o-linear-gradient(top, rgb(72,143,197) 100%, rgb(91,180,236) 42%);
background-image: -moz-linear-gradient(top, rgb(72,143,197) 100%, rgb(91,180,236) 42%);
background-image: -webkit-linear-gradient(top, rgb(72,143,197) 100%, rgb(91,180,236) 42%);
background-image: -ms-linear-gradient(top, rgb(72,143,197) 100%, rgb(91,180,236) 42%);

background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(1, rgb(72,143,197)),
	color-stop(0.42, rgb(91,180,236))
);
    background-color: #91A3B0;
    max-height: 750px;
    overflow: scroll;
}
@media (max-width: 979px) {
  .sidebar {
    position: relative;
  }

}
.main-container {
	  border-radius: 6px;
    box-shadow: 1px 1px 5px #222222;
    -webkit-box-shadow: 1px 1px 5px #222222;
    margin: 10px;
    background: white;
    padding: 10px;
}
#patient-name {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    height: 100px;
    display: -webkit-box;
display: -moz-box;
display: box;
-webkit-box-align: center;
-moz-box-align: center;
box-align: center;
}
.accordion-group {
    background-color: #FFFFFF;
}
i {
  float: left;
  margin-right: -10px;
}
td i {
  float: left;
  margin-right: 10px;
}
.section-icon {
    height: 25px;
    padding-bottom: 6px;
    margin-right: 5px;
    vertical-align: middle;
}
.uber-warning {
    font-weight: bold;
    font-size: 125%;
    color: red;
}
.timeline-title {
    color: white;
    font-weight: bold;
}
.timeline-block {
    border: 2px solid gray;
    border-radius: 4px;
}
.progress {
    margin: 10px 0;
}
.progress .bar {
    background-color: whiteSmoke;
    background-image: none;
    float: left;
    color: black;
}
.progress :first-child {
    border-left: 3px solid black;
    margin-left: 1%;
}
#last-tick {
    border-right: none;
}
.progress .tick {
    border-right: 3px solid;
    border-color: black;
}


.problem {
    background-color: #FFFACD;
}

.procedure {
    background-color: #ADDFAD;
}

.encounter {
    background-color: #89CFF0;
}

.immunization {
    background-color: #D8BFD8;
}

.test-item {
    border: 1px solid black;
    border-radius: 4px;
    margin: 10px;
}
.badge-danger {
    background-color: red;
}
