<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sample Record</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple Django Wiki">
    <meta name="author" content="John Healy">

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/ehrgonomic.css" rel="stylesheet">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  $('#check-medicines').change(function() {
    $('#medicines').toggle(this.checked);
  });
  $('#check-allergies').change(function() {
    $('#allergies').toggle(this.checked);
  });
  $('#check-tests').change(function() {
    $('#tests').toggle(this.checked);
  });
  $('#check-appointments').change(function() {
    $('#appointments').toggle(this.checked);
  });
  $('#check-history').change(function() {
    $('#history').toggle(this.checked);
  });
});

</script>

</head>

<body>
<div class="container-fluid page-container">
<div class="row-fluid">
  <div class="span4" id="sidebar-container">
    <div class="sidebar">
    <div class="row-fluid">
      <div class="name span12">
        <img src="{{STATIC_URL}}img/portrait.png" style="float:left; margin-right: 5px; vertical-align: middle; height:100px; width:100px;"/>
        <p id="patient-name">Name of Patient</p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="collapse-open demo-block span12">
        <h3 class="sidebar-title"><i class="icon-chevron-down"></i>Personal Information</h3> 
            <div class="item demo-item"><span class="field-title">Gender:</span> Female</div>
            <div class="item demo-item"><span class="field-title">Birthday:</span> March 7, 1960 (Age 52)</div>
            <div class="item demo-item"><span class="field-title">Language Spoken:</span> English</div>
            <div class="item demo-item"><span class="field-title">Martial Status:</span> Married</div>
            <div class="item demo-item"><span class="field-title">Religious Affiliation:</span> Christian</div>
            <div class="item demo-item"><span class="field-title">Ethnicity:</span> Asian</div>
      </div>
    </div>
    
      <div class="checkbox-nav">
      <h3 class="sidebar-title">Sections</h3> 
      <form>
      <fieldset>
        <label class="checkbox"><input type="checkbox" id="check-medicines" checked="checked" /> Medicines</label>
        <label class="checkbox"><input type="checkbox" id="check-appointments" checked="checked" /> Appointments</label>
        <label class="checkbox"><input type="checkbox" id="check-history" checked="checked" /> History</label>
        <label class="checkbox"><input type="checkbox" id="check-allergies" checked="checked" /> Allergies</label>
        <label class="checkbox"><input type="checkbox" id="check-tests" checked="checked" /> Test Results</label>
      </fieldset>
      </form>
      </div>

    <div class="row-fluid">
<div class="accordion" id="accordion2">
  <h3 class="sidebar-title">Contact Information</h3> 
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Patient
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="address">17 Daws Road<br /> Portland, OR 97006<br /> 415-555-1229</div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Provider
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="address">Ashby Medical Center<br />
            1002 Healthcare Dr<br /> Portland, OR 97266<br />
            415-555-1200</div>
      </div>
    </div>
   </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
        Guardian
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="address">
            Martha Shan<br />
            1357 Amber Drive<br />Beaverton, OR 97006<br />
            816-276-6909</div>
      </div>
    </div>
  </div>
</div>
      <div class="bottom-anchor" id="help-box">
      Questions? Help
      </div>
    </div>

<!--      <div class="collapse-closed span12" id="contact-info">
        <div class="address">17 Daws Road<br /> Portland, OR 97006<br /> 415-555-1229</div>
        <div id="provider">Provider
          <div class="address">Ashby Medical Center<br />
            1002 Healthcare Dr<br /> Portland, OR 97266<br />
            415-555-1200</div>
            </div>
            <div id="guardian">Guardian<br />(Sister)
            <div class="address">
            Martha Shan<br />
            1357 Amber Drive<br />Beaverton, OR 97006<br />
            816-276-6909</div>
            </div>
      </div>
    -->
    </div>

  </div>
  <div class="span8">
    <div class="container-fluid main-container">
      <div class="row-fluid">
          <div class="span8">
          <h1>Medical Record</h1>
          </div>
          <div class="span4">
          <button class="btn" style="float:right;">Print</button>
          </div>
      </div>
      <div class="row-fluid">
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            If you have had an allergic reaction to codeine, stop taking it right away and call your doctor! 
          </div>
         <hr />
          <div class="block" id="medicines">
    <h2><img src="{{STATIC_URL}}img/medicine.png" class="section-icon" />Medicines</h2>
        <table class="table table-condensed table-hover" id="table-med">
        <thead>
            <tr>
            <th>Date</th>
            <th>Medicine</th>
            <th>Dose</th>
            </tr>
        </thead>
        <tbody>
        <div class="medication" id="medication_1">
            <tr>
                <td data-toggle="collapse" data-target="#answer1" data-parent="#table-med"><i class="icon-chevron-down"></i>March 28, 2012 
                  </td>            
                <td data-toggle="collapse" data-target="#answer1" data-parent="#table-med">Acetaminophen with codiene (Liquid)
                </td>
                <td data-toggle="collapse" data-target="#answer1" data-parent="#table-med">2 puffs, 1 time per day</td>
                <!--<td></td>
                <td></td>               -->
            </tr>
            <tr><td colspan="2" style="border-top:none;">
                <div class="details">
                  <h4>Details</h4>
                  Instructions: 2 puffs once a day<br />Prescribed by: Ashby Medical Center</div>  
                </div></td>
                <td style="border-top:none;">
                <div class="more-info">
                  <h4>More Information</h4>
                  <a href="http://www.webmd.com/drugs/drug-3177-Tylenol-Codeine+Oral.aspx?drugid=3177&drugname=Tylenol-Codeine+Oral">WebMD</a>
                </div></td>   
            </tr>      
           
            
            </div>
        <div class="medication" id="medication_2">
            <tr>
                <td><i class="icon-chevron-right"></i>December 10, 2003</td>            
                <td>Indomethacin (Tablet)</td>
                <td>50 mg, 2 times per day</td>               
                <!-- <td>50mg bid with food</td>
                <td>Ashby Medical Center</td> -->
            </tr>        
            </div>
        </tbody>
        </table>
    </div>

</div>
          
        <div class="block" id="appointments">
    <h2><img src="{{STATIC_URL}}img/clock.png" class="section-icon" />Appointments</h2>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
            <th>Date</th>
            <th>Plan</th>
            </tr>
        </thead>
        <tbody>
            <div class="plan" id="plan_1">
            <tr>
                <td><i class="icon-chevron-right"></i>December 3, 2012</td>            
                <td><span class="field-title">Office consultation:</span>
                Consultation with Dr. George Potomac for Asthma</td>
            </tr>
            </div>
        <div class="plan" id="plan_2">
            <tr>
                <td><i class="icon-chevron-right"></i>December 3, 2012</td>            
                <td><span class="field-title">Sputum Culture</span>
  (No additional instructions)</td>
            </tr>
        </div>
        <div class="plan" id="plan_3">
            <tr>
                <td><i class="icon-chevron-right"></i>December 15, 2012</td>            
                <td><span class="field-title">Chest X-Ray</span>
        (No additional instructions)</td>
            </tr>
        </div>
        </tbody>
        </table> 
      </div>  
          
<div class="block" id="history"><h2><img src="{{STATIC_URL}}img/plan.png" class="section-icon" />History</h2>
<div class="row-fluid timeline-legend">
    <form class="form form-inline">

    <div class="span8" style="">
    Show: <label class="checkbox"><input type="checkbox" checked="checked" />Immunizations</label> | <label class="checkbox"><input type="checkbox" checked="checked"/>Encounters</label> | <label class="checkbox"><input type="checkbox" checked="checked"/>Problems</label> | <label class="checkbox"><input type="checkbox" checked="checked" />Procedures</label>
    </div>
    <div class="span4" style="margin-top: -5px;">Date Range: <select style="width:125px; ">
  <option>All</option>
  <option>Last Year</option>
  <option>Last 3 Years</option>
  <option>Last 5 Years</option>
  <option>Last 10 Years</option>
</select></div>
    </form>
</div>
        <table class="table table-condensed table-hover">
        <thead>
            <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            <div class="immunization" id="immunization_1">
            <tr class="immunization">
                <td><i class="icon-chevron-right"></i>May 2004</td>            
                <td>Immunization</td>
                <td>Influenza virus vaccine, IM</td>               
            </tr>
            </div>
            <div class="immunization" id="immunization_2">
            <tr class="immunization">
                <td><i class="icon-chevron-right"></i>April 2003</td>            
                <td>Immunization</td>
                <td>Tetanus and diphtheria toxoids, IM</td>               
            </tr>        
            </div>
            <div class="encounter" id="encounter_1">
            <tr class="encounter">
                <td><i class="icon-chevron-right"></i>March 28, 2008</td>            
                <td>Encounter</td>
                <td>ED Visit for Ankle Sprain</td>               
            </tr>
            </div>
            <div class="encounter" id="encounter_2">
            <tr class="encounter">
                <td><i class="icon-chevron-right"></i>September 28, 2005</td>            
                <td>Encounter</td>
                <td>Gall Bladder Surgery</td>               
            </tr>
            </div>
            <div class="encounter" id="encounter_3">
            <tr class="encounter">
                <td><i class="icon-chevron-right"></i>March 21, 2005</td>            
                <td>Encounter</td>
                <td>Labor and Delivery</td>               
            </tr>
            </div>
            <div class="encounter" id="encounter_4">
            <tr class="encounter">
                <td><i class="icon-chevron-right"></i>October 28, 2004</td>            
                <td>Encounter</td>
                <td>ED Visit for Acute Cholecystitis</td>               
            </tr>
            </div>
            <div class="problem" id="problem_1">
            <tr class="problem">
                <td><i class="icon-chevron-right"></i>March 28, 2008</td>            
                <td>Problem</td>
                <td>Ankle Sprain</td>               
            </tr>
            </div>
            <div class="problem" id="problem_2">
            <tr class="problem">
                <td><i class="icon-chevron-down"></i>September 28, 2005</td>            
                <td>Problem</td>
                <td>Cholecystitis</td>               
            </tr>
           <tr class="problem"><td style="border-top:none;">
                <div class="details">
                  <h4>Details</h4>
                  Status: Resolved<br />
        Comments: Surgery postponed until after delivery</div>  
                </div></td>
                <td style="border-top:none;" colspan="2"> 
                <div class="more-info">
                  <h4>More Information</h4>
                  <strong>Cholecystitis</strong>: Inflammation of the gall bladder. <br />
                  Read More: <a href="http://www.webmd.com/drugs/drug-3177-Tylenol-Codeine+Oral.aspx?drugid=3177&drugname=Tylenol-Codeine+Oral">CDC</a>
                </div></td>   
            </tr>      
            </div>
            <div class="procedure" id="procedure_1">
            <tr class="procedure">
                <td><i class="icon-chevron-right"></i>September 28, 2005</td>            
                <td>Procedure</td>
                <td>Laparoscopic Cholecystectomy</td>               
            </tr>
            </div>
            <div class="procedure" id="procedure_2">
              <tr class="procedure">
                <td><i class="icon-chevron-right"></i>March 22, 2005</td>            
                <td>Procedure</td>
                <td>Cesarian Section</td>               
            </tr>
            </div>
        </tbody>
        </table>
          </div>    
<div class="block" id="allergies"><h2><img src="{{STATIC_URL}}img/allergy.jpg" class="section-icon" />Allergies</h2>
        <table class="table table-condensed">
        <thead>
            <tr>
            <th>Severity</th>
            <th>Allergen</th>
            <th>Reaction</th>
            </tr>
        </thead>
        <tbody>
            <div class="allergy" id="allergy_3">
            <tr class="error">
                <td>Severe</td>            
                <td>Bee Stings</td>
                <td>Anaphylactic Shock</td>               
            </tr>
            </div>
            <div class="allergy" id="allergy_1">
            <tr>
                <td>Moderate to severe</td>            
                <td>Penicillin</td>
                <td>Hives</td>               
            </tr>        
            </div>
            <div class="allergy" id="allergy_2">
            <tr>
                <td>Moderate</td>            
                <td>Codeine</td>
                <td>Shortness of Breath</td>               
            </tr>
            </div>
        </tbody>
        </table>
          </div>    
      <div id="tests">            
      <h2><img src="{{STATIC_URL}}img/tests.png" class="section-icon" />Test Results</h2>
      <form class="form form-inline" >

    <div class="span8" style="">
    Show: <label class="checkbox"><input type="checkbox" checked="checked" />Lipid Panel</label> | <label class="checkbox"><input type="checkbox" checked="checked"/>Urinalysis</label> | <label class="checkbox"><input type="checkbox" checked="checked"/>Blood Count</label>
    </div>
    <div class="span4" style="margin-top: -5px;">Date Range: <select style="width:125px; ">
  <option>All</option>
  <option>Last Year</option>
  <option>Last 3 Years</option>
  <option>Last 5 Years</option>
  <option>Last 10 Years</option>
</select></div>
    </form>
      
      <div class="test" id="test_1" style="margin-top: 40px;">
      <h3>Lipid Panel - November 2005</h3>

        <table class="table table-condensed">
        <thead>
            <tr>
            <th>Item</th>
            <th>Value</th>
            <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <tr class="error">
                <td>Cholesterol</td>            
                <td>240 MG/DL</td>
                <td><strong>High<br />(Target: Under 200)</strong></td>               
            </tr>
            <tr class="error">
                <td>Triglyceride</td>            
                <td>202 MG/DL</td>
                <td><strong>High<br />(Target: Under 150)</strong></td>               
            </tr>
            <tr>
                <td>HDL</td>            
                <td>43 MG/DL</td>
                <td>Normal</td>               
            </tr>        
            <tr>
                <td>Cholesterol, Non-HDL</td>            
                <td>76 MG/DL</td>
                <td>Normal</td>               
            </tr>        
            <tr>
                <td>LDL</td>            
                <td>241 MG/DL</td>
                <td>Normal</td>               
            </tr>        
            
            </div>
        </tbody>
        </table>
      </div>

<div class="test" id="test_2">
      <h3>Lipid Panel - November 2003</h3>
        <table class="table table-condensed">
        <thead>
            <tr>
            <th>Item</th>
            <th>Value</th>
            <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cholesterol</td>            
                <td>180 MG/DL</td>
                <td>Normal</td>               
            </tr>
            <tr>
                <td>HDL</td>            
                <td>60 MG/DL</td>
                <td>Normal</td>               
            </tr>
            <tr>
                <td>Triglyceride</td>            
                <td>112 MG/DL</td>
                <td>Normal</td>               
            </tr>
                    
            <tr>
                <td>Cholesterol, Non-HDL</td>            
                <td>76 MG/DL</td>
                <td>Normal</td>               
            </tr>        
            <tr>
                <td>LDL</td>            
                <td>149 MG/DL</td>
                <td>Normal</td>               
            </tr>        
            
            </div>
        </tbody>
        </table>
      </div>
    </div>
      </div>
      </div>
    </div>             
  </div>  
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">
            <div class="row-fluid">            
            <h1 id="patient-name" class="span9">Elle Ross Schnictelstein VII</h1>
            <div class="span3 address">17 Daws Road<br /> Portland, OR 97006<br /> 415-555-1229</div>
            </div>
        <div class="row-fluid">
           
<div class="span12 block" id="warnings">
    <h2><img src="{{STATIC_URL}}img/error.png" class="section-icon" />Warnings</h2>     
    <ul>
    <li><div class="warning uber-warning" id="warning_1">
        If you have had an allergic reaction to codeine, stop taking it right away and call your doctor! 
    </div></li>    
</ul>

  <h2>Other Indications (Reminders)</h2>       
<ul>
    <li><div class="warning" id="warning_1">
        Carry an Epi-Pen at all times! Use if exposed to Bee Stings and see a doctor right away.
    </div></li>
    <li><div class="warning" id="warning_1">
        Check the label! You are currently taking XXmg Acetominophen per day. Do not take over-the-counter medicines that contain acetominophen.
    </div></li>
    </ul>       
    </div>
        </div>
        </div>
        <div class="span3">
            <div id="provider"><div class="span3">Provider</div>
            <div class="span9 address">Ashby Medical Center<br />
            1002 Healthcare Dr<br /> Portland, OR 97266<br />
            415-555-1200</div>
            </div>
            <div id="guardian"><div class="span3">Guardian<br />(Sister)</div>
            <div class="span9 address">
            Martha Shan<br />
            1357 Amber Drive<br />Beaverton, OR 97006<br />
            816-276-6909</div>
            </div>
        </div>
        
    </div>

    <hr />


<div class="row-fluid">
<h2 style="text-align:center;">Calendar (better title?)</h2>

    <div class="span6">
    <div id="calendar"><img src="http://placehold.it/600x400" style="vertical-align:middle;" /></div>
    <div id="date">A calendar goes here. Dates with appointments are highlighted. Click/mouseover the dates lights up the appointment(s) and vice versa.</div>
    </div>

    <div class="span6"> 
        <div id="plans">
    <h2><img src="{{STATIC_URL}}img/plan.png" class="section-icon" />Plan of Care</h2>
    <table class="table table-condensed">
        <thead>
            <tr>
            <th>Date</th>
            <th>Plan</th>
            </tr>
        </thead>
        <tbody>
            <div class="plan" id="plan_1">
            <tr>
                <td>December 3, 2012</td>            
                <td><span class="field-title">Office consultation:</span>
                Consultation with Dr. George Potomac for Asthma</td>
            </tr>
            </div>
        <div class="plan" id="plan_2">
            <tr>
                <td>December 3, 2012</td>            
                <td><span class="field-title">Sputum Culture</span>
  (No additional instructions)</td>
            </tr>
        </div>
        <div class="plan" id="plan_3">
            <tr>
                <td>December 15, 2012</td>            
                <td><span class="field-title">Chest X-Ray</span>
        (No additional instructions)</td>
            </tr>
        </div>
        </tbody>
        </table> 
      </div>

        <div class="block" id="medications">
    <h2><img src="{{STATIC_URL}}img/medicine.png" class="section-icon" />Medication</h2>
        
        <table class="table table-condensed">
        <thead>
            <tr>
            <th>Date</th>
            <th>Medicine</th>
            <th>Dose</th>
            <th>Instructions</th>
            <th>Prescriber</th>
            </tr>
        </thead>
        <tbody>
        <div class="medication" id="medication_1">
            <tr>
                <td>March 28, 2005</td>            
                <td>Acetaminophen with codiene (Liquid)</td>
                <td>2 puffs, 1 time per day</td>
                <td>2 puffs once a day</td>
                <td>Ashby Medical Center</td>               
            </tr>
            </div>
        <div class="medication" id="medication_2">
            <tr>
                <td>December 10, 2003</td>            
                <td>Indomethacin (Tablet)</td>
                <td>50 mg, 2 times per day</td>               
                <td>50mg bid with food</td>
                <td>Ashby Medical Center</td>
            </tr>        
            </div>
        </tbody>
        </table>
    </div>
    </div>

</div>

<hr />

<h2 style="text-align:center;">Health Timeline</h2>
<div class="row-fluid timeline-legend">
    <div class="span6">Show: Immunizations | Encounters | Problems | Procedures</div>
    <div class="span6">From: _________ to _________</div>
</div>
<div class="progress timeline">
    <div class="bar tick" style="width: 10%;">2003</div>
    <div class="bar tick" style="width: 10%;">2004</div>
    <div class="bar tick" style="width: 10%;">2005</div>
    <div class="bar tick" style="width: 10%;">2006</div>
    <div class="bar tick" style="width: 10%;">2007</div>
    <div class="bar tick" style="width: 10%;">2008</div>
    <div class="bar tick" style="width: 10%;">2009</div>
    <div class="bar tick" style="width: 10%;">2010</div>
    <div class="bar tick" style="width: 10%;">2011</div>
    <div class="bar tick" id="last-tick" style="width: 9%;">2012</div>
</div>
<div class="points" style="margin-top:-20px; margin-bottom: 10px;">
    <span class="badge immunizations" style="margin-left: 7%;">1</span>
    <span class="badge problems" style="margin-left: 15%;">2</span>
    <span class="badge encounters" style="margin-left: 25%;">3</span>
    <span class="badge immunizations" style="margin-left: 27%;">4</span>
</div>
<div class="row-fluid">
    <div class="block timeline-block span3">
    <div class="timeline-title immunizations">Immunizations</div>
        <div class="immunization" id="immunization_1">
        Date: May 2004
        Immunization Name: Influenza virus vaccine, IM
        Type: Intramuscular injection
        Dose Quantity (value / unit): 50 / mcg
        Education/Instructions: Possible flu-like symptoms for three days
        </div>
        <div class="immunization" id="immunization_2">
        Date: April 2003
        Immunization Name: Tetanus and diphtheria toxoids, IM
        Type: Intramuscular injection
        Dose Quantity (value / unit) 50 / mcg
        Education/Instructions: Mild pain or soreness in the local area
        </div>
    </div>
    <div class="block timeline-block span3">
    <div class="timeline-title encounters">Encounters</div>
        <div class="encounter" id="encounter_1">
        Date: March 28, 2008
        Encounter: ED Visit for Ankle Sprain
        Provider: Dr. Henry Seven
        Location: Community Hospital
        </div>
        <div class="encounter" id="encounter_2">
        Date: September 28, 2005                
        Encounter: Gall Bladder Surgery
        Provider: Dr. Bala Venktaraman
        Location: Ashby Medical Center
        </div>
        <div class="encounter" id="encounter_3">
        Date: March 21, 2005
        Encounter: Labor and Delivery
        Provider: Dr. Tiffany Martinez
        Location: Ashby Medical Center
        </div>
        <div class="encounter" id="encounter_4">
        Date: October 28, 2004                
        Encounter: ED Visit for Acute Cholecystitis
        Provider: Dr. Tim Lee
        Location: Ashby Medical Center
        </div>
    </div>

    <div class="block timeline-block span3">
    <div class="timeline-title problems">Problem List</div>
        <div class="problem" id="problem_1">
Date: March 28, 2008        
Observation: Ankle Sprain
        Status: Active
        Comments: Slipped on ice and fell.
        </div>
        <div class="problem" id="problem_2">
Date: September 28, 2005        
Observation: Cholecystitis
        Status: Resolved
        Comments: Surgery postponed until after delivery
        </div>
    </div>
    
    <div class="block timeline-block span3">
    <div class="timeline-title procedures">Procedures</div>
        <div class="procedure" id="procedure_1">
Date: September 28, 2005
                
Procedure: Laparoscopic Cholecystectomy 
        Provider: Dr. Bala Venktaraman
        Location: Ashby Medical Center
        </div>
        <div class="procedure" id="procedure_2">
        Date: March 22, 2005
        Procedure: Cesarian Section
        Provider: Dr. Tiffany Martinez
        Location: Ashby Medical Center 
        </div>
    </div>
</div>
<hr />

<div class="row-fluid">
    
 <div class="span3 block demo-block "> 
            <div class="item demo-item"><span class="field-title">Gender:</span> Female</div>
            <div class="item demo-item"><span class="field-title">Birthday:</span> March 7, 1960 (Age 52)</div>
            <div class="item demo-item"><span class="field-title">Language Spoken:</span> English</div>
            </div>
            <div class="span3 block demo-block">
            <div class="item demo-item"><span class="field-title">Martial Status:</span> Married</div>
            <div class="item demo-item"><span class="field-title">Religious Affiliation:</span> Christian</div>
            <div class="item demo-item"><span class="field-title">Ethnicity:</span> Asian</div>
            
            </div>

<div class="span6 block" id="allergies"><h2><img src="{{STATIC_URL}}img/allergy.jpg" class="section-icon" />Allergies</h2>
        <table class="table table-condensed">
        <thead>
            <tr>
            <th>Severity</th>
            <th>Allergen</th>
            <th>Reaction</th>
            </tr>
        </thead>
        <tbody>
            <div class="allergy" id="allergy_3">
            <tr class="error">
                <td>Severe</td>            
                <td>Bee Stings</td>
                <td>Anaphylactic Shock</td>               
            </tr>
            </div>
            <div class="allergy" id="allergy_1">
            <tr class="warning">
                <td>Moderate to severe</td>            
                <td>Penicillin</td>
                <td>Hives</td>               
            </tr>        
            </div>
            <div class="allergy" id="allergy_2">
            <tr>
                <td>Moderate</td>            
                <td>Codeine</td>
                <td>Shortness of Breath</td>               
            </tr>
            </div>
        </tbody>
        </table>
    </div>    
</div>
</div>
-->
    <!-- JavaScript placed at the end of the document so the pages load faster -->
    <!-- Optional: Include the jQuery library -->
    
    <!-- Optional: Incorporate the Bootstrap Javascript plugins -->
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>    


</body>
</html>
